@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-bricolage-grotesque: "Bricolage Grotesque", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;

  --color-neutral-1: #02012b;
  --color-neutral-2: #262540;
  --color-neutral-3: #2f2f49;
  --color-neutral-4: #302f4a;
  --color-white: #f4f2f5;
  --color-grayish-white: #cbcddc;
  --color-blue: #4657d9;
  --color-intense-blue: #2b1b9c;
  --color-dark-blue: #313050;
  --color-light-blue: #3c3c58;
  --color-lighter-blue: #3c3b5d;
  --color-neutral: #d4d3d9;
}
