@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-xs: 33.75rem;

  --font-league-spartan: "League Spartan", sans-serif;

  --color-main-bg: #3b4664;
  --color-main-text: #444d56;
  --color-primary: #fff;
  --color-special-btn: #fff;
  --color-secondary: #181f32;
  --color-switch-bg: #181f32;
  --color-ternary: #252d44;
  --color-danger: #d13f30;
  --color-danger-faded: #96271c;
  --color-danger-hover: #f96c5b;
  --color-grey-white: #eae3db;
  --color-grey-white-faded: #b4a69b;
  --color-grey-white-hover: #ffffff;
  --color-blue: #687394;
  --color-blue-faded: #404e75;
  --color-blue-hover: #a2b3e1;
}

@layer theme {
  .theme-gray {
    --color-main-bg: #e6e6e6;
    --color-main-text: #393931;
    --color-primary: #393931;
    --color-secondary: #eeeeee;
    --color-switch-bg: #d3cdcd;
    --color-special-btn: #fbffff;
    --color-ternary: #d3cdcc;
    --color-danger: #c85401;
    --color-danger-faded: #863700;
    --color-danger-hover: #ff8b38;
    --color-grey-white: #eae3db;
    --color-grey-white-faded: #b4a69b;
    --color-grey-white-hover: #ffffff;
    --color-blue: #3a8187;
    --color-blue-faded: #1a5f66;
    --color-blue-hover: #62b4be;
  }

  .theme-purple {
    --color-main-bg: #17062a;
    --color-main-text: #fbe33f;
    --color-primary: #fbe33f;
    --color-secondary: #1e0736;
    --color-switch-bg: #1e0736;
    --color-special-btn: #fbffff;
    --color-ternary: #1e0736;
    --color-danger: #00e2d0;
    --color-danger-faded: #863700;
    --color-danger-hover: #ff8b38;
    --color-grey-white: #331b4d;
    --color-grey-white-faded: #871d9f;
    --color-grey-white-hover: #6b34ac;
    --color-blue: #3a8187;
    --color-blue-faded: #1a5f66;
    --color-blue-hover: #62b4be;
  }
}
